header{
    background-color: #4A96EE;
    background-image: url(../imgs/pattern.png);
    height: 100px;
    background-size: 400px;
}
.the{
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 30px;
    font-weight:500;
}
.booleaner{
    font-size: 20px;
    margin-top: 0px;
    margin-left: 3px;
    font-weight:500;
}
#sottotitolo{
    color: gray;
    font-weight:500;
    margin-top: 0%;
    margin-bottom: 20px;
}
#autore{
    color: deepskyblue;
}
h1{
    margin-bottom: 5px;
}
#pics{
    margin: 0%;
}
ul{
    padding-left: 10px;
}
table{
    border-collapse: collapse;
    font-weight: 300;
}
thead{
    background-color: #20A9E5;
    color: white;
}
.blu{
    background-color: #B1E5F2;
}
footer{
    color: grey;
    font-weight: bold;
}